# =====================================================================
# Envoy specific Bazel build/test options.
# =====================================================================

# Keep envoy.bazelrc up-to-date by run:
# curl -sSL https://raw.githubusercontent.com/envoyproxy/envoy/master/.bazelrc > envoy.bazelrc
import %workspace%/envoy.bazelrc
